*{
    box-sizing: border-box;
    margin: 0px;
}
.hot{
    background-image: url(hot.jpg);
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    z-index: -2;
}
.juicy{
    background-image: url(juicy.jpg);
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    z-index: -2;
}
.cosy{
    background-image: url(cosy.jpg);
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    z-index: -2;
}
.topFoot li{
    font-family: 'Spirax', cursive;
    font-size: 40px;
    color: white;
    display: inline-block;
    margin: 10px 100px;
}
.otherText{
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    background-color: red;
    color: white;
    position: relative;
    text-align: center;
    left: 150px;
    padding: 5px;
    margin-left: 400px;
    margin-top: 100px;
    opacity: 0.8;
    display: inline-block;
}
.otherText2{
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    background-color: red;
    color: white;
    position: relative;
    text-align: center;
    padding: 5px;
    margin-left: 700px;
    margin-top: 50px;
    opacity: 0.8;
    display: inline-block;
}
.otherText3{
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    background-color: black;
    color: white;
    position: relative;
    text-align: left;;
    padding: 5px;
    left: 40px;
    margin-left: 650px;
    margin-top: 100px;
    opacity: 0.8;
    list-style-type: none;;
    padding: 20px 20px;
    display: inline-block;
}
.topFoot{
    position: fixed;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    text-align: center;
    margin: 0px;
    z-index: +1;
}
.head1{
    font-family: 'Spirax', cursive;
    font-size: 80px;
    color: red;
    margin: 0px;
    position: relative;
    top: 10%;
    left: 50%;
    
}

body{
    overflow: scroll;
    margin: 0px;
}
span{
    padding: 50px;
}
a{
    color: white;
    text-decoration: none;
}

.t1{
text-align: left;
}
.t2{
    padding-left: 60px;
    text-align: right;
}
html{
    scroll-behavior: smooth;
}